<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PollInterval" value="5"/>
  </appSettings>
  <!--
      Please note that the switch from default to production is controlled by the application.
      The application uses an environment variable 'Environ' to determine whether it is in production
      or not.  Environ must equal "Production" to connect to the production database.
      
      In test, this will always point back to the development database.
    -->
  <connectionStrings>
    <add name="ReferenceDefault" connectionString="Data Source=sysql99\trading;Database=Reference;User ID=ref_reader;Password=Cp35v2NR;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>    
    <add name="ReferenceProduction" connectionString="Data Source=sysql99\trading;Database=Reference;User ID=ref_reader;Password=Cp35v2NR;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>